@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@layer utilities {
    html {
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
}